<div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Imagen</th>
                <th>Activo</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            @for ( alum of alumnos; track alum) {
            <tr>
                <td>{{alum.idAlumno}}</td>
                <td>{{alum.nombre}}</td>
                <td>{{alum.apellidos}}</td>
                <td><img src="alum.imagen" alt="Foto del alumno" width="50"></td>
                <td>{{alum.activo ? 'Sí' : 'No'}}</td>
                <td>{{alum.idCurso}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
