<div>
    <form #createForm="ngForm">
        <label>Id departamento</label>
        <input type="number" class="form-control"
        name="cajaId" #cajaid/>
        <label>Nombre</label>
        <input type="text" class="form-control"
        name="cajaNombre" #cajanombre/>
        <label>Localidad</label>
        <input type="text" class="form-control"
        name="cajaLocalidad" #cajalocalidad/>
        <button class="btn btn-info" (click)="insertDepartamento()">
            Crear departamento
        </button>
    </form>
</div>
