<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item" *ngIf="sesion">
            <a class="btn btn-outline-warning mx-1" [routerLink]="['/perfil']">Perfil Empleado</a>
        </li>
        <li class="nav-item" *ngIf="sesion">
            <a class="btn btn-outline-success mx-1" [routerLink]="['/subordinados']">Subordinados</a>
        </li>
        <li class="nav-item" *ngIf="!sesion">
            <a [routerLink]="['/login']" class="btn btn-outline-primary me-2" >Login</a>
        </li>
        <li class="nav-item" *ngIf="sesion">
            <a (click)="cerrarSesion()" class="btn btn-outline-danger me-2">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
