.comic {
    border: 2px solid gainsboro;
    background-color: rgb(255, 225, 213);
    width: 15%;
    height: 100%;
    padding: 10px;
    margin: 5px;
    border-radius:7px;
    box-shadow: 3px 3px 10px 1px;


}

.libreria {
    float: left;
}