<div>
    <ul id="menu">
        <!-- <li *ngFor="let valor of Array">
            <a [routerLink]="['path', 'valor']">
                Component {{valor}}
            </a>
        </li> -->
        <li>
            <a [routerLink]="['/']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/cine']">Cine | </a>
        </li>
        <li>
            <a [routerLink]="['/musica']">Musica | </a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble']">Numero Doble SIN | </a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble/77']">Numero Doble 77 | </a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble/12']">Numero Doble 12 | </a>
        </li>
    </ul>
</div>